*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Galada', cursive;
    font-size: 24px;
    text-rendering: optimizeLegibility;
}
.main-game{
    height: 100vh;
    background: linear-gradient(rgb(255, 70, 141),rgb(255, 96, 234));
}
.NewGame{
    text-align: center;
    padding-top: 1%;
}
.NewGame button{
    font-size: 200%;
    font-family: 'Galada', cursive;
    background: transparent;
    border: none;
}
.wrapper{
    position: absolute;
    top:10%;
    bottom: 10%;
    left:10%;
    right: 10%;
    background: linear-gradient(rgb(238, 255, 0),rgb(255, 174, 0));
    text-align: center;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-between;
}
.player-1{
    display: grid;
    grid-template-rows: 25vh 30vh;
    grid-auto-columns: 80% 20%;
    grid-template-areas: 
    "name ."
    "score ."
    "current .";
}
.player-2{
    display: grid;
    grid-auto-columns: 20% 80%;
    grid-template-rows: 25vh 30vh;
    grid-template-areas: 
    ". name"
    ". score"
    ". current ";
}
.name{
    font-size: 200%;
    grid-area: name;
}
.score{
    grid-area: score;
}
.score #score0,
.score #score1{
    font-size: 300%;
}
.current{
    margin: 0 auto;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 4% 8%;
    border: 2px solid red;
    background-color: rgb(255, 136, 0);
    border-radius: 10px;
    grid-area: current;

}
.current #current0,
.current #current1{
    font-size:150%;
}
.tools{
    position: absolute;
    top: 10%;
    left:35%;
    right: 35%;
    display: grid;
    grid-template-rows: 38vh;
}
.tools img{
    width: 35%;
    margin: 0 auto;
}
.tools button{
    width: 90%;
    font-size: 120%;
    background:linear-gradient(rgb(255, 70, 141),rgb(255, 96, 234));
    border: none;
    border-radius: 5px;
    padding: 2% 0;
    margin: 0 auto;
    margin-bottom: 5%;
}
.tools input{
    font-size: 80%;
    width: 90%;
    font-family: 'Galada', cursive;
    text-align: center;
}
.active{
    color:rgb(80, 0, 0);
    font-weight: 1000;
    background: linear-gradient(rgba(255, 70, 141, 0.2),rgba(255, 96, 234, 0.2));
}
.active .name::after{
    content:"  ⭐";
    font-size: 50%;
    vertical-align: middle;
}
.rules{
    background: linear-gradient(rgb(238, 255, 0),rgb(255, 174, 0));
    padding: 4%;
    text-align: justify;
}
@media only screen and (max-width: 800px){
    body{
        font-size: 20px;
    }
    .tools img{
        width: 40%;
    }
}
@media only screen and (max-width: 550px){
    body{
        font-size: 16px;
    }
    .tools img{
        width: 45%;
    }
}
@media only screen and (max-width: 400px){
    body{
        font-size: 10px;
    }
    .tools img{
        width: 55%;
    }
}